.alternativeButton {
  border: none;
  background-color: transparent;
  color: var(--Moderate-Blue, #5357b6);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

@media (hover: hover) {
  .alternativeButton:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

@media (hover: none) {
  .alternativeButton {
    opacity: 1;
  }
}

.alternativeIcon {
  position: relative;
  padding: 0 8px 0 0;
  top: 3px;
}
